.button {
  position: relative;
  min-width: 300px;
}

.arrowLayer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nextArrow {
  position: absolute;
  display: flex;
  align-items: center;
  right: 15px;
}

.prevArrow {
  position: absolute;
  display: flex;
  align-items: center;
  left: 15px;
}
